<app-dashboard-path class="p-2"></app-dashboard-path>
<div class="row g-4" >
    <ng-container>
        <div class="col-8" style="height:fit-content; ">
            <div class="rounded shadow p-5" style="border: 1px solid #DEE2E6">
                <p style="color: #6C757D">Rules</p>
                <hr>
                <div class="p-2" style="height:fit-content;">
                    <app-rules-component id="rulesComponent" *ngFor="let rule of ruleset" [ruleset]="ruleset" [givenRule]="rule" [childrenConditions]="rule.childrenConditions" [priority]="rule.getPriority() && rule.getPriority() !==-1 ? rule.getPriority() : ruleset.indexOf(rule) + 1" [ruleIndex]="ruleset.indexOf(rule)"></app-rules-component>
                </div>
                <app-add-new-rule-button id="ruleButton" (click)="onAddRuleClick()"></app-add-new-rule-button>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="col-4">
            <div class="rounded shadow p-5 sticky-top" style="border: 1px solid #DEE2E6">
                <p style="color: #6C757D">Settings</p>
                <hr>
                <app-ruleset-name [(name)]="name"></app-ruleset-name>
                <div style="margin-top: 20px;">
                    <span style="display: flex; justify-content: end;" class="col-12">
                        <app-cancel-button></app-cancel-button>
                        <app-save-button></app-save-button>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</div>