<div class="rounded p-3" style="border: 1px solid #DEE2E6">
    <div>
        <conditions #condition class="conditionsComponent" *ngFor="let condition of childrenConditions" [givenCondition]="condition"></conditions>
    </div>
    <then-event [(thenValue)]="thenValue" [(neverThenEntry)]="neverThenEntry"></then-event>
    <div  style="margin-top: 20px; justify-content: start;">
        <app-create-new-condition id="conditionButton" style="margin-right:7px;"></app-create-new-condition>
        <app-delete-rule-button id="deleteButton" [ruleIndex]="ruleIndex" style="margin: 7px;"></app-delete-rule-button>
        <app-move-up-button id="moveUpButton" [rulesetLength]="ruleset ? ruleset.length : 0" [rulePriority]="priority" (rulePriorityChange)="setPriority($event)" style="margin: 7px;"></app-move-up-button>
        <app-move-down-button id="moveDownButton" [rulesetLength]="ruleset ? ruleset.length : 0" [rulePriority]="priority" (rulePriorityChange)="setPriority($event)" style="margin: 7px;"></app-move-down-button>
    </div>
</div>