<div class="rounded p-3 m-3" style="border: 1px solid #DEE2E6">
    <div>
        <conditions #condition class="conditionsComponent" *ngFor="let condition of childrenConditions" [givenCondition]="condition"></conditions>
    </div>
    <then-event [(thenValue)]="thenValue" [(neverThenEntry)]="neverThenEntry"></then-event>
    <div class="container" style="margin-top: 10px; display: grid; grid-template-columns: repeat(4, 4fr); gap: 10px;">
        <app-create-new-condition id="conditionButton"></app-create-new-condition>
        <app-delete-rule-button id="deleteButton"></app-delete-rule-button>
        <app-move-up-button id="moveUpButton" [rulePriority]="priority" (rulePriorityChange)="setPriority($event)"></app-move-up-button>
        <app-move-down-button id="moveDownButton" [rulesetLength]="ruleset.length" [rulePriority]="priority" (rulePriorityChange)="setPriority($event)"></app-move-down-button>
        <a>{{priority}}</a>
    </div>
</div>