<p>when works!</p>
<button type="button" class="btn btn-outline-primary" id="dropdownBasic2" (click)="myDrop.isOpen()">
  Hello
</button> 
<button type="button" class="btn btn-outline-primary" id="dropdownBasic2" (click)="checkIfDropdownOpen(myDrop.isOpen())">
  Hello2
</button> 
<br>
<br>
<div class="row">
	<div class="col">
		<div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Toggle dropdown
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Hello</button>
				<button ngbDropdownItem>World</button>
			</div>
		</div>
	</div>
</div>