/* You can add global styles to this file, and also import other style files */
body, app-root {
    height: 100vh;
    width: 100%;
}
html { 
    scrollbar-gutter:stable;
}
app-root {
    display: inline-block;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: #7749F8;
}
.btn-primary {
    --bs-btn-bg: #7749F8;
    --bs-btn-border-color: #7749F8;
    --bs-btn-hover-bg: #653bd7;
    --bs-btn-hover-border-color: #7749F8;
    --bs-btn-active-bg: #7247e8;
}
.dashboardPath{
    text-decoration: none;
    color: #7749F8;
    &:hover {
        color:#653bd7;
    }
}